snippet cgi
	"Content-type: text/html\n\n"
snippet intro
	File Name   : `expand("%:t")`
	Author      : ${1:`g:snips_author`}
	E-mail      : ${1:`g:snips_email`}
	Created     : TIMESTAMP
	Modified    : TIMESTAMP
	Description : ${1:Description}
