snippet sl
	#######################################################
snippet PRO
	QT += widgets
	TEMPLATE = app

	SOURCES = ./*.cpp
	INCLUDEPATH = ./

	CONFIG += qt debug warn_on

	#TARGET
	#FORMS
	#RESOURCES
	#DEFINES
	#LIBS
	#VERSION
	#DESTDIR
