snippet ##
	###############################################################################

snippet PY3
	#!/usr/local/bin/python3
	import numpy as np
	import json as js
	import matplotlib.pyplot as plt


